.blog-container {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.post-meta-info {
  text-align: center;
  margin: 2rem;
  animation: moveInBottom 1s ease-in 0s;
  h1 {
    font-size: 3rem;
  }
  h5 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
}

.featured-img {
  padding: 1rem;
}
.blog-post-body {
  line-height: 1.7;
  font-size: 1.4rem;
  border-bottom: 1.6px solid #777777;
  margin-bottom: 2rem;
  padding: 2rem 1rem 2rem;
  font-family: "SF Pro Rounded";
  word-spacing: 0.25rem;
  font-weight: lighter;
  &::first-letter {
    font-size: 2rem;
  }
}

.share-article {
  max-width: 30rem;
  padding: 1rem;
  border: 1px solid #333;
  margin: 1rem auto 1rem;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    font-size: 1.1rem;
    background-color: #e3e3e3;
    padding: 0.2rem 0.3rem;
    border-radius: 2px;
    color: #000;
  }
  a:hover {
    opacity: 0.8;
  }
}

.article-links {
  display: flex;
  justify-content: space-between;
  margin: 0rem 1rem 2rem;
  padding: 1rem;
  a {
    display: inline-block;
    color: #1d014b;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding: 0.5rem;
    font-size: 1.3rem;
    transition: all 0.2s;

    & span {
      margin-left: 3px;
      transition: margin-left 0.2s;
    }

    &:hover {
      color: #000000;
      span {
        margin-left: 8px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .blog-container {
    width: 100%;
    padding: 1rem;
    margin: 7rem auto 0;
  }
  .post-meta-info {
    margin: 0;
    padding: 0;
    width: 100%;
    h1 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1.2rem;
    }
  }

  .article-links {
    margin: 0rem;
    padding: 0rem;
    flex-direction: column;

    a {
      padding: 0.3rem;
      margin: 1rem;
      border: none;
    }
  }
}

@media (max-width: 340px) {
  .article-links {
    a {
      font-size: 1.1rem;
      margin: 1rem 0rem;
    }
  }
  .share-article {
    width: 100%;
    padding: 1rem 0.6rem;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
