.footer {
  background-color: $color-gray;
  padding: 5rem;
  text-align: center;
  h3 {
    font-size: 1.8rem;
  }
}

.sink-details__list {
  list-style-type: none;
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  justify-content: center;

  li {
    font-size: 1.3rem;
    background-color: $color-white;
    padding: 0.8rem;
    margin: 1rem;
    border-radius: 50%;
    a {
      text-decoration: none;
      color: $light-black;
    }
  }
}

.copyright-box {
  padding: 1rem;
  p {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 3rem;
  }
}
